/* INIT ADDED */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

/**:focus {
  outline: #d66363;
}*/
/* */

body {
  font-family: "DM Sans";
  font-style: normal;
}

/*#contact_modal {
  display: none;
}*/

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  /* ADDED */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 2rem 50px;
}

.photograph-header img {
  /* ADDED */
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
}

.photograph-header h1 {
  /* ADDED */
  font-weight: 400;
  font-size: 64px;
  color: #d3573c;
  margin-left: -3px;
}

.photograph-header .header-location {
  /* ADDED */
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
}

.photograph-header .header-quote {
  /* ADDED */
  font-weight: 400;
  font-size: 18px;
  color: #525252;
  margin-top: 0.75rem;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px 36px;
  /*width: 170px;*/
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #ad3a3a;
}

#contact_modal {
  border-radius: 5px;
  width: 35%;
  display: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
  background-color: #db8876;
  border: none;
  margin: auto;
}

#contact_modal::backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}

/*.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}*/

/*.modal {
  padding-bottom: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: blue;
}*/

#contact_modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  height: fit-content;
  margin: 0;
}

#contact_modal header img {
  cursor: pointer;
}

#contact_modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  line-height: 70px;
  margin-top: -10px;
}

#contact_modal label {
  margin-top: 1rem;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-top: 2px;
}

/* ADDED */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  row-gap: 36px;
  column-gap: 88px;
  width: calc(100% - 200px);
}

.gallery article {
  display: flex;
  flex-direction: column;
  /*max-width: 50%;*/
  max-width: calc((100% - 176px) / 3);
  /*min-width: 300px;*/
  flex: 1 1 25%;
}

.gallery img,
.gallery video {
  width: 100%;
  object-fit: cover;
  /*height: 450px;*/
  aspect-ratio: 350/300;
  cursor: pointer;
}

.gallery .mediaInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}

.gallery .mediaInfos div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.gallery .mediaInfos img {
  width: 19px;
  height: 18px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.gallery .mediaInfos p {
  font-weight: 500;
  font-size: 24px;
  color: #901c1c;
}

.gallery h2 {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
}

#lightbox_modal {
  border-radius: 5px;
  display: hidden;
  flex-direction: column;
  padding: 35px;
  background-color: #fff;
  border: none;
  margin: auto;
  width: 80%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

#lightbox_modal .arrownmedia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
}

#lightbox_modal .light-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 10rem);
}

#lightbox_modal img,
#lightbox_modal video {
  max-width: 100%;
  max-height: calc(100% - 4rem);
  flex-shrink: 1;
  object-fit: contain;
}

#lightbox_modal h2 {
  height: 4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  width: fit-content;
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
}

#lightbox_modal .leftarrow-container,
#lightbox_modal .rightarrow-container {
  width: 5rem;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox_modal .rightarrow-container {
  position: relative;
}

#lightbox_modal .rightarrow-container .close {
  position: absolute;
  left: 25%;
  top: 0;
  height: 42px;
  width: 42px;
}

#lightbox_modal .arrow {
  height: 48px;
  cursor: pointer;
}

#lightbox_modal .leftarrow-container .arrow {
  transform: rotate(180deg);
}

#lightbox_modal::backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}

.sort-container {
  display: flex;
  margin: 0 100px 2rem 100px;
  width: calc(100% - 200px);
  align-items: center;
}

.sort-container select {
  appearance: none;
  margin-left: 2rem;
  background: #911c1c;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 180px;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.sort-container select:active {
  border: none;
}

.sort-container option {
  appearance: none;
  padding: 1rem;
  border-bottom: 1px solid white;
  line-height: 4rem;
  height: 32px;
}

.sticky-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 32px;
  margin-top: auto;
  margin-left: auto;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  width: 376px;
  height: 90px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 2rem;
}

.sticky-bar img {
  margin-left: 1rem;
}
