/* INIT ADDED */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
/* */

body {
  font-family: "DM Sans";
  font-style: normal;
}

/*#contact_modal {
  display: none;
}*/

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  /* ADDED */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 2rem 50px;
}

.photograph-header img {
  /* ADDED */
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  object-fit: cover;
}

.photograph-header h1 {
  /* ADDED */
  font-weight: 400;
  font-size: 64px;
  color: #d3573c;
  margin-left: -3px;
}

.photograph-header .header-location {
  /* ADDED */
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
}

.photograph-header .header-quote {
  /* ADDED */
  font-weight: 400;
  font-size: 18px;
  color: #525252;
  margin-top: 0.75rem;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px 36px;
  /*width: 170px;*/
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #ad3a3a;
}

#contact_modal {
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  background-color: #db8876;
  border: none;
  margin: 5rem auto;
}

#contact_modal::backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}

/*.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}*/

.modal {
  padding-bottom: 1rem;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.modal label {
  margin-top: 1rem;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* ADDED */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  row-gap: 36px;
  column-gap: 88px;
  width: calc(100% - 200px);
}

.gallery article {
  display: flex;
  flex-direction: column;
  /*max-width: 50%;*/
  max-width: calc((100% - 176px) / 3);
  /*min-width: 300px;*/
  flex: 1 1 25%;
}

.gallery img,
.gallery video {
  width: 100%;
  object-fit: cover;
  /*height: 450px;*/
  aspect-ratio: 350/300;
}

.gallery .mediaInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}

.gallery h2 {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
}
